In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from datetime import datetime
t1 = datetime(2009,10,20)

In [3]:
t1

datetime.datetime(2009, 10, 20, 0, 0)

In [4]:
date_list = [
    datetime(2016,9,1),
    datetime(2016,9,10),
    datetime(2017,9,1),
    datetime(2017,9,20),
    datetime(2017,10,1)
]

In [5]:
date_list

[datetime.datetime(2016, 9, 1, 0, 0),
 datetime.datetime(2016, 9, 10, 0, 0),
 datetime.datetime(2017, 9, 1, 0, 0),
 datetime.datetime(2017, 9, 20, 0, 0),
 datetime.datetime(2017, 10, 1, 0, 0)]

In [7]:
s1 = Series(np.random.rand(5), index=date_list)

In [8]:
s1

2016-09-01    0.428998
2016-09-10    0.156294
2017-09-01    0.508415
2017-09-20    0.858535
2017-10-01    0.489239
dtype: float64

In [9]:
s1.values

array([ 0.42899819,  0.15629389,  0.50841498,  0.85853468,  0.4892385 ])

In [10]:
s1.index

DatetimeIndex(['2016-09-01', '2016-09-10', '2017-09-01', '2017-09-20',
               '2017-10-01'],
              dtype='datetime64[ns]', freq=None)

In [11]:
s1[1]

0.15629389030101237

In [12]:
s1[datetime(2016,9,10)]

0.15629389030101237

In [13]:
s1['2016-9-10']

0.15629389030101237

In [14]:
s1['20160910']

0.15629389030101237

In [18]:
s1['2017-09']

2017-09-01    0.508415
2017-09-20    0.858535
dtype: float64

In [19]:
s1['2016']

2016-09-01    0.428998
2016-09-10    0.156294
dtype: float64

In [20]:
s1['2017']

2017-09-01    0.508415
2017-09-20    0.858535
2017-10-01    0.489239
dtype: float64

In [21]:
s1

2016-09-01    0.428998
2016-09-10    0.156294
2017-09-01    0.508415
2017-09-20    0.858535
2017-10-01    0.489239
dtype: float64

In [8]:
periods = 100
date_list_new = pd.date_range('2016-01-01', periods=periods, freq='D')

In [9]:
s2 = Series(np.random.rand(periods), index=date_list_new)

In [10]:
s2

2016-01-01    0.740728
2016-01-02    0.453985
2016-01-03    0.365177
2016-01-04    0.859156
2016-01-05    0.888514
2016-01-06    0.991254
2016-01-07    0.833972
2016-01-08    0.599319
2016-01-09    0.220945
2016-01-10    0.466407
2016-01-11    0.128120
2016-01-12    0.891355
2016-01-13    0.851553
2016-01-14    0.736129
2016-01-15    0.644932
2016-01-16    0.550444
2016-01-17    0.975104
2016-01-18    0.357470
2016-01-19    0.412892
2016-01-20    0.263299
2016-01-21    0.826463
2016-01-22    0.878422
2016-01-23    0.558686
2016-01-24    0.783679
2016-01-25    0.669397
2016-01-26    0.732422
2016-01-27    0.367271
2016-01-28    0.474352
2016-01-29    0.049483
2016-01-30    0.836492
                ...
2016-03-11    0.907809
2016-03-12    0.980685
2016-03-13    0.798077
2016-03-14    0.484059
2016-03-15    0.640773
2016-03-16    0.546788
2016-03-17    0.709617
2016-03-18    0.751311
2016-03-19    0.746631
2016-03-20    0.890490
2016-03-21    0.180870
2016-03-22    0.691083
2016-03-23    0.849528
2016-03-24    0.159851
2016-03-25    0.020057
2016-03-26    0.711268
2016-03-27    0.057652
2016-03-28    0.298123
2016-03-29    0.205417
2016-03-30    0.658203
2016-03-31    0.317164
2016-04-01    0.484418
2016-04-02    0.696897
2016-04-03    0.432428
2016-04-04    0.362441
2016-04-05    0.134671
2016-04-06    0.803324
2016-04-07    0.027357
2016-04-08    0.154030
2016-04-09    0.371774
Freq: D, Length: 100, dtype: float64