In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
!ls ../homework/

apply_demo.csv     demo_duplicate.csv movie_metadata.csv usa_flights.csv
city_weather.csv   iris.csv           sales-funnel.xlsx

In [3]:
df = pd.read_excel('../homework/sales-funnel.xlsx')

In [4]:
df

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [13]:
pd.pivot_table(df, index=['Manager','Rep'],values=['Price','Quantity'],columns=['Product'], fill_value=0, aggfunc='sum')

                              Price                              Quantity  \
Product                         CPU Maintenance Monitor Software      CPU
Manager       Rep
Debra Henley  Craig Booker    65000        5000       0    10000        2
              Daniel Hilton  105000           0       0    10000        4
              John Smith      35000        5000       0        0        1
Fred Anderson Cedric Moss     95000        5000       0    10000        3
              Wendy Yule     165000        7000    5000        0        7


Product                     Maintenance Monitor Software
Manager       Rep
Debra Henley  Craig Booker            2       0        1
              Daniel Hilton           0       0        1
              John Smith              2       0        0
Fred Anderson Cedric Moss             1       0        1
              Wendy Yule              3       2        0

In [6]:
df = pd.read_csv('../homework/Sales.csv')
table = pd.pivot_table(df, index=['Country','Region', 'City'], columns=['Name'], 
                       values=['Price', 'Gross_Profit'], fill_value=0, aggfunc='sum')
table

                                           Gross_Profit                  \
Name                                  Jacob P. Williams Kathy A. Duncan
Country   Region       City
Australia NSW          Sydney                   12583.0         81109.0
          Victoria     Melbourne               -98492.0        -70796.0
Canada    BC           East Vancouver           95202.0        -29971.0
                       Tsawassen               121221.0        -56346.0
                       Vancouver              -121077.0        -23961.0
          Qu?bec       Montr?al                -37600.0        -70774.0
                       Ste-Hyacinthe             6642.0        -65005.0
Spain     Asturias     Oviedo                   29542.0        -78163.0
UK        Kent         Sevenoaks                24117.0          5203.0
          Lancashire   Hedge End               -52368.0        -61464.0
          N. Yorkshire Harrogate               -54493.0        212802.0
USA       AK           Anchorage                33052.0        -60213.0
          AZ           Phoenix                 -66883.0       -143687.0
          CA           Berkeley                 27136.0         15873.0
                       Los Angeles               9035.0         -7466.0
                       San Francisco           129183.0         69246.0
          CO           Denver                 -218594.0        -71425.0
          CT           Whirlwind               -70167.0        -54301.0
          FL           Sarasota                  1439.0        -89543.0
          ID           Boise                    90501.0        -32123.0
                       Lewiston                 -5768.0         49825.0
                       Pocatello               115863.0        175479.0
          IL           Chicago                 -72646.0         10565.0
          MA           Boston                   98281.0        -36053.0
          MI           Ann Arbor                 -338.0         50071.0
          MT           Butte                   -31416.0         76482.0
                       Helena                  -27671.0        -82219.0
          NM           Albuquerque              23808.0        148132.0
                       Santa Fe                 39519.0       -221602.0
          NY           Buffalo                  34384.0        -29520.0
                       Ithaca                  -83683.0         15861.0
                       Jamaica                  23353.0        -15071.0
                       New York               -164868.0        -14002.0
          OR           Aloha                   -16904.0         58142.0
                       Bend                     31545.0         89818.0
                       Burns                   -64733.0       -114889.0
                       Elgin                   -43016.0        -82408.0
                       Eugene                  123922.5        225571.8
                       Portland               -128262.0        206068.0
          TX           Austin                 -123084.3         46855.0
          UT           Provo                  -102922.0         21187.0
          WA           Anacortes                54764.0         84014.1
                       Auburn                  218034.0        169962.0
                       Bellevue                209543.0         69207.0
                       Bellingham              -14833.0        165292.0
                       Bothell                 -48667.0        -59357.0
                       Chelan                    4161.0         61813.0
                       Port Townsend            38298.0        -88006.0
                       Renton                 -146195.0         78926.0
                       Seattle                 183461.0        -81477.0
                       Tacoma                  115103.0         -2050.0
                       Walla Walla             178114.0       -161571.0
          WY           Lander                 -127057.0         40151.0

                                                                             \
Name                                  Rhonda P. Edmonson Robert M. Phillips
Country   Region       City
Australia NSW          Sydney                   -38048.0           -80950.0
          Victoria     Melbourne                -57091.0             4055.0
Canada    BC           East Vancouver           122787.0            23518.0
                       Tsawassen                -72852.0             3094.0
                       Vancouver                 37879.0           -18516.9
          Qu?bec       Montr?al                -102330.0            14551.0
                       Ste-Hyacinthe            -97840.0            33530.0
Spain     Asturias     Oviedo                   -90688.0            -3370.0
UK        Kent         Sevenoaks                 40738.0           -24867.0
          Lancashire   Hedge End                -40780.0            70431.0
          N. Yorkshire Harrogate                 35243.0             9566.0
USA       AK           Anchorage                -73644.5           -27551.0
          AZ           Phoenix                   43121.0            59189.0
          CA           Berkeley                  73519.0          -134499.0
                       Los Angeles               28191.0            34684.0
                       San Francisco           -152982.0          -103102.0
          CO           Denver                   -16017.0          -167442.0
          CT           Whirlwind                 75450.0            40480.0
          FL           Sarasota                 -12801.0           -81088.0
          ID           Boise                    136408.0            38723.0
                       Lewiston                 130589.0           -22793.0
                       Pocatello                -22043.0            80593.0
          IL           Chicago                  324009.0            45723.0
          MA           Boston                   -54895.0           101227.0
          MI           Ann Arbor               -103610.0            -8275.0
          MT           Butte                   -134338.0            29104.0
                       Helena                   -22316.0            78768.0
          NM           Albuquerque              -18269.0            -2981.1
                       Santa Fe                  10701.0          -159495.0
          NY           Buffalo                   51937.0           103675.0
                       Ithaca                    21339.0            66274.0
                       Jamaica                  -73124.0             3514.0
                       New York                  -4134.0            65370.0
          OR           Aloha                     82931.0           -29979.0
                       Bend                     -42320.0           -65062.0
                       Burns                    111443.0            60894.0
                       Elgin                    -59315.0             4866.0
                       Eugene                  -213912.0           -47049.0
                       Portland                -175178.0           174484.0
          TX           Austin                    74386.0            72365.0
          UT           Provo                    -49704.0          -134256.0
          WA           Anacortes                102619.0            66497.0
                       Auburn                  -118757.0            86152.0
                       Bellevue                -241212.0           131957.0
                       Bellingham                61751.0            17610.0
                       Bothell                  -36807.0            33562.0
                       Chelan                    18782.0           -80797.0
                       Port Townsend            -10706.0            72427.0
                       Renton                    59490.0             7600.0
                       Seattle                 -141875.0           378217.0
                       Tacoma                    35623.0            33833.0
                       Walla Walla             -143600.0            33051.0
          WY           Lander                   -20776.0            12897.0

                                                                             \
Name                                  Stephen R. Johns Theresa L. Stevenson
Country   Region       City
Australia NSW          Sydney                -142986.0                 0.00
          Victoria     Melbourne              -36507.0             11927.00
Canada    BC           East Vancouver          -7877.0                 0.00
                       Tsawassen               16355.0               214.00
                       Vancouver              -72935.0               384.00
          Qu?bec       Montr?al               -70283.0             -3940.00
                       Ste-Hyacinthe           63701.0               665.00
Spain     Asturias     Oviedo                   8897.0               727.00
UK        Kent         Sevenoaks               -7168.0               311.00
          Lancashire   Hedge End              104928.0               633.99
          N. Yorkshire Harrogate               -1639.0                 0.00
USA       AK           Anchorage              122978.0                 0.00
          AZ           Phoenix                  8705.0             -9395.00
          CA           Berkeley               -16933.0              2616.00
                       Los Angeles             11284.0              2110.00
                       San Francisco          164260.0              1341.70
          CO           Denver                  55569.0               245.00
          CT           Whirlwind               -2819.0                 0.00
          FL           Sarasota                39240.0                 0.00
          ID           Boise                   10740.0             -8335.00
                       Lewiston               -65786.0             -3996.00
                       Pocatello              -44192.0                 0.00
          IL           Chicago                149746.0                 0.00
          MA           Boston                 -57489.0              1411.00
          MI           Ann Arbor               12298.0                 0.00
          MT           Butte                  -26216.0                 0.00
                       Helena                 244850.0              2146.00
          NM           Albuquerque            168669.0               431.00
                       Santa Fe                47885.0              1571.00
          NY           Buffalo                 -6011.0              6547.00
                       Ithaca                  68679.0                 0.00
                       Jamaica                 55898.0              1888.00
                       New York              -120060.0                 0.00
          OR           Aloha                  -54623.0                 0.00
                       Bend                   -89855.0                 0.00
                       Burns                    7046.0                 0.00
                       Elgin                  -97564.0                 0.00
                       Eugene                -136229.0                 0.00
                       Portland               -25980.0              3320.00
          TX           Austin                 -86078.0                 0.00
          UT           Provo                    4546.0                 0.00
          WA           Anacortes              -37637.0                 0.00
                       Auburn                 -18092.0               590.00
                       Bellevue               236325.0              4581.40
                       Bellingham              91696.0              2674.00
                       Bothell                 41340.0              1554.00
                       Chelan                  10121.4                 0.00
                       Port Townsend           12731.4               622.00
                       Renton                 -58080.0                 0.00
                       Seattle                145556.0              8572.80
                       Tacoma                -144518.0                 0.00
                       Walla Walla             48987.0              6350.00
          WY           Lander                    764.0              2261.00

                                                  Price                  \
Name                                  Jacob P. Williams Kathy A. Duncan
Country   Region       City
Australia NSW          Sydney                    304954          312093
          Victoria     Melbourne                 285067          305874
Canada    BC           East Vancouver            279246          285694
                       Tsawassen                 319727          298622
                       Vancouver                 611482          581082
          Qu?bec       Montr?al                  295576          269162
                       Ste-Hyacinthe             313939          272199
Spain     Asturias     Oviedo                    321665          305457
UK        Kent         Sevenoaks                 293145          298978
          Lancashire   Hedge End                 277261          261152
          N. Yorkshire Harrogate                 296899          311046
USA       AK           Anchorage                 292530          311555
          AZ           Phoenix                   581693          585228
          CA           Berkeley                  304689          275173
                       Los Angeles               277670          292921
                       San Francisco             920663          919082
          CO           Denver                    583614          581140
          CT           Whirlwind                 301889          263854
          FL           Sarasota                  288186          289754
          ID           Boise                     310938          281934
                       Lewiston                  302203          285304
                       Pocatello                 587955          598836
          IL           Chicago                   274216          294615
          MA           Boston                    304172          280403
          MI           Ann Arbor                 281730          321558
          MT           Butte                     288181          294999
                       Helena                    593818          586731
          NM           Albuquerque               553351          738763
                       Santa Fe                  304254          288102
          NY           Buffalo                   266098          272560
                       Ithaca                    281405          311632
                       Jamaica                   265397          291748
                       New York                  269144          291486
          OR           Aloha                     267366          290369
                       Bend                      304654          309924
                       Burns                     274860          289706
                       Elgin                     284729          299211
                       Eugene                    598323          638288
                       Portland                 1155427         1160487
          TX           Austin                    287913          317084
          UT           Provo                     304259          277084
          WA           Anacortes                 293244          299230
                       Auburn                    631768          603499
                       Bellevue                  891221          878489
                       Bellingham                573428          587084
                       Bothell                   290158          286236
                       Chelan                    304457          302326
                       Port Townsend             565396          593297
                       Renton                    279716          295830
                       Seattle                  1193396         1185040
                       Tacoma                    297875          274953
                       Walla Walla               631348          605706
          WY           Lander                    270509          315347

                                                                             \
Name                                  Rhonda P. Edmonson Robert M. Phillips
Country   Region       City
Australia NSW          Sydney                     276568             293256
          Victoria     Melbourne                  274055             290911
Canada    BC           East Vancouver             315599             303902
                       Tsawassen                  284725             301398
                       Vancouver                  566370             561185
          Qu?bec       Montr?al                   271495             285993
                       Ste-Hyacinthe              277779             269077
Spain     Asturias     Oviedo                     281189             269344
UK        Kent         Sevenoaks                  307922             272752
          Lancashire   Hedge End                  304672             301040
          N. Yorkshire Harrogate                  286608             276639
USA       AK           Anchorage                  299015             308480
          AZ           Phoenix                    578758             605053
          CA           Berkeley                   290123             254970
                       Los Angeles                288000             293480
                       San Francisco              878271             864803
          CO           Denver                     573746             544605
          CT           Whirlwind                  269529             306436
          FL           Sarasota                   282337             300784
          ID           Boise                      288468             291670
                       Lewiston                   316372             272777
                       Pocatello                  600054             568404
          IL           Chicago                    321203             308350
          MA           Boston                     258256             280680
          MI           Ann Arbor                  294830             281924
          MT           Butte                      297622             309326
                       Helena                     583430             592469
          NM           Albuquerque                608947             605917
                       Santa Fe                   276253             297695
          NY           Buffalo                    282999             303665
                       Ithaca                     305549             291826
                       Jamaica                    266844             303499
                       New York                   288980             318862
          OR           Aloha                      288537             281066
                       Bend                       278528             292439
                       Burns                      299770             300526
                       Elgin                      289988             293233
                       Eugene                     581590             576684
                       Portland                  1119292            1175637
          TX           Austin                     294477             299556
          UT           Provo                      285623             277569
          WA           Anacortes                  307830             292332
                       Auburn                     556304             582758
                       Bellevue                   843221             904380